body {
  margin: 0;
}
body {
  background-color: #111;
}
.cover {
  background-color: #222;
  color: white;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 기본속성이 stretch이기 때문에 align-items: center;를 주지 않으면 크기 늘어남 */
  justify-content: center;
}
.cover-logo {
  margin-top: auto;
}
.cover-desciption {
}
.cover-point {
  margin-top: auto;
}
